.homebody {
  display: grid;
  justify-content: center;
  font-family: Arial;
  margin-left: 3rem;
}

.hometitle {
  color: #fff;
  font-size: 4rem;

  animation: slide-up 1s ease;
}

.hometitle2 {
  color: #fff;
  font-size: 1.1rem;
  padding-left: 4rem;
  animation: slide-up 1s ease;
}

@keyframes slide-up {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }

  100% {
    transform: translateY(0);
  }
}

.homebutton {
  border-radius: 1rem;
  height: 2.5rem;
  width: 23%;
  background-color: rgb(44, 207, 126);
  border: none;
  margin-top: 1.5rem;
  margin-left: 12rem;
  padding-left: 1.5rem;
  padding-top: 1rem;
  text-decoration: none;
  font-weight: bold;
  color: #000;

}

.homebutton:hover {
  background-color: #fff;
}

@media (max-width: 768px) {
  .homebutton {
    display: none;
  }
  .hometitle2 {
    padding-left: 0px;
  }
}