.homebody {
  display: grid;
  justify-content: center;
  font-family: Arial;

}

.hometitle {
  color: #fff;
  font-size: 4rem;
  margin: 5rem 0 2rem 0;
  animation: slide-up 1s ease;
}

.hometitle2 {
  color: #fff;
  font-size: 1.1rem;
  padding-left: 4rem;
  margin-bottom: 1.5rem;
  animation: slide-up 1s ease;
}

@keyframes slide-up {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  25% {
    opacity: 0;
  }

  100% {
    transform: translateY(0);
  }
}

.homebutton {
  border-radius: 1rem;
  height: 2.5rem;
  width: 23%;
  background-color: rgb(44, 207, 126);
  border: none;
  margin-top: 1.5rem;
  margin-left: 12rem;
  padding-left: 1.5rem;
  padding-top: 1rem;
  text-decoration: none;
  font-weight: bold;
  color: #000;

}

.homebutton:hover {
  background-color: #fff;
}

@media (max-width: 768px) {
  .homebutton {
    display: none;
  
  }
  .hometitle {
    font-size: 2.75rem;
    margin-top: 4rem;
  }
  .hometitle2 {
    padding: 0;
    font-size: 0.9rem;
    margin-top: 2rem;
  }
}