

@media (max-width: 768px) {
    .hamburger {
        height: 7px;
        width: 40px;
        background-color: #fff;
        margin: 10% 0 0 50%;

      }

      .burger-click {
          cursor: pointer;
      }


}
